<mat-toolbar color="primary">
  <a mat-icon-button routerLink="/products">
    <i class="material-icons">arrow_back</i>
  </a>
  <span>Edit Product</span>
  <span *ngIf="productId">&nbsp;- Product ID: {{ productId }}</span>
  <mat-spinner diameter="48" *ngIf="loading"></mat-spinner>
</mat-toolbar>

<div *ngIf="!productId">
  <p class="center">Invalid ID - Nothing to show</p>
</div>

<mat-vertical-stepper #editProductStepper *ngIf="productId" linear="true">
  <mat-step label="Fill out basic info" [stepControl]="editProductForm">
    <form [formGroup]="editProductForm">
      <div class="edit-product-form-container">
        <mat-form-field>
          <mat-label>Category *</mat-label>
          <mat-select [(value)]="productCategory" name="category" [disabled]="!productId">
            <mat-option value="1">Featured (特别推荐)</mat-option>
            <mat-option value="2">Hot (热卖商品)</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Name *</mat-label>
          <input matInput type="text" formControlName="nameControl">
          <mat-error *ngIf="editProductForm.get('nameControl').hasError('required')">
            Name is <strong>mandatory</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Long Name *</mat-label>
          <input matInput type="text" formControlName="longNameControl">
          <mat-error *ngIf="editProductForm.get('longNameControl').hasError('required')">
            Long Name is <strong>mandatory</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Type *</mat-label>
          <input matInput type="text" formControlName="typeControl">
          <mat-error *ngIf="editProductForm.get('typeControl').hasError('required')">
            Type is <strong>mandatory</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Description *</mat-label>
          <textarea matInput formControlName="descControl" cdkTextareaAutosize cdkAutosizeMinRows="2"
            cdkAutosizeMaxRows="8"></textarea>
          <mat-error *ngIf="editProductForm.get('descControl').hasError('required')">
            Description is <strong>mandatory</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Price *</mat-label>
          <input matInput type="number" formControlName="priceControl">
          <mat-error *ngIf="editProductForm.get('priceControl').hasError('required')">
            Price is <strong>mandatory</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Volume *</mat-label>
          <input matInput type="text" formControlName="volumeControl">
          <mat-error *ngIf="editProductForm.get('volumeControl').hasError('required')">
            Volume is <strong>mandatory</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Product Number</mat-label>
          <input matInput type="text" formControlName="productNumControl">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Ingredient</mat-label>
          <input matInput type="text" formControlName="ingredientControl">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Origin</mat-label>
          <input matInput type="text" formControlName="originControl">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Producer</mat-label>
          <input matInput type="text" formControlName="producerControl">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Highlight</mat-label>
          <input matInput type="text" formControlName="highlightControl">
        </mat-form-field>

        <p><i>* Mandatory Fields</i></p>
      </div>
    </form>

    <div>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step label="Upload pictures">
    <div class="upload-pictures-form-container">
      <div fxLayout="column" fxLayout.gt-sm="row">
        <mat-card *ngFor="">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
        <img src="" />
      </div>

      <button mat-raised-button (click)="openUploadPicturesDialog()">Upload New Pictures</button>
    </div>

    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step label="Done">
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-raised-button color="primary" [disabled]="!productId" (click)="save()">Save</button>
    </div>
  </mat-step>
</mat-vertical-stepper>
